#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
.map-holder {
    height: 500px;
    width: 100%;
}
.page-geo{
    @extend .page-home;
    padding: 5em 10em;
    font-size: 1.6em;
    
    @media #{$medium-and-down} { 
        padding: 5em 2em;   
    }
    
    .geoResults {
        li {
            letter-spacing: 1px;
        }
    }

}
