$pale-gold: #c0b283;
$paper: #f4f4f4;
$charcoal: #373737;

$primary-color: $pale-gold;
$primary-text: $charcoal;
$primary-back: $paper;

$text-color: $primary-text;
$link-hover: $primary-color;

$menu-text-color: $primary-back;
$menu-text-color-hover: $primary-color;
$menu-background: $primary-text;


$content-background: #f4f4f4;